*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
}

body{

    background-image: url("/images/BackGorund/homescreenBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


/* ===================== HOME SCREEN ================== */

.start-screen{
    display: flex;
    justify-content: space-around;
    height: 900px;
    align-items: center;

    background-color: rgba(0,0,0,0.5);

    z-index: -2;
}

.game-history{
    width: 40%;
    margin: 100px;
    line-height: 2em;
    padding: 30px;
    border: 10px solid lightgray;
    background-color: rgba(0,0,0,0.8);
    color: white;
    z-index: 0;
}

#start{
    color: white;
    padding: 20px 40px;
    border: 10px solid lightgray;
    background-color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    margin-right: 10%;
    z-index: 1000;
}

#start:hover {
    background-color: rgba(254,254,254, .5)
}


#myCanvas {
    background-color: black;
    position: relative;
    z-index: 0;
}

#score, #wave, #time-to-next-wave {
    position: absolute;
    width: 300px;
}

/* #infobar{
    position: absolute;
    left: 0;
    width: 100;
    height: 50px;
    background-color: rgb(black, black, black, 0.5);
    z-index: 5;

} */

#score {
    left: 45%;
    top: 20px;
    color:white;
    z-index: 11;
    text-align: left;
}


#wave {
    left: 5%;
    top: 20px;
    color:white;
    z-index: 11;
    text-align: left;
   
}


#time-to-next-wave {
    left: 80%;
    top: 20px;
    color:white;
    z-index: 11;
    text-align: left;
    
}

.active {
    display: flex;
}

.inactive{
    display: none;
}
